:root {
    // bg
    --whitesmoke: hsl(36, 100%, 99%);
    --bg-clr: hsl(36, 100%, 99%);

    // font family
    --ff-inter: 'Inter', sans-serif;

    // colrs
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --d-grayish-blue: hsl(236, 13%, 42%);
    --x-d-grayish-blue: hsl(240, 100%, 5%);
}